html, body {
   	margin: 5px;
}

canvas {
  	background-color: #DDDDDD;
  	margin: 		  50px;
}

td {
	padding: 10px;
}

button, input {
	margin-left: 5px;
	margin-right: 5px
}

.demo {
	top:   10px;
}

.td-slider {
	width: 260px;
}

.sliders {
	left: 	  150px;
	width:	  260px; 
	margin:   15px;
}